<div class="jumbotron">
  <% unless @employee.omniauth? || current_employee %>
      <div class="row">
        <div class="col-xs-6 center-block">
          <%= link_to image_tag('google_signin.png'), '/auth/google_oauth2' %>
        </div>
      </div>
      <div class="row">
        <div>
          <h1>Signup</h1>
          </br>
        </div>
  <% else %>
      <div>
        <h1>Verify Details</h1>
      </div>
  <% end %>

  <%= render 'employees/form' %>

  <%= link_to 'Back', root_path %>
  </div>
</div>
