<div class="jumbotron">
  <div class="row">
    <% unless @employee.omniauth? || current_employee %>
        <div class="col-xs-6 center-block">
          <%= image_tag('google.png', class: 'img-responsive') %>
          <%= link_to button_tag('Sign up via Google', class: 'btn-auth btn-google'), '/auth/google_oauth2' %>
        </div>
        <div class="col-xs-4 col-xs-offset-2">
          <h1>Signup</h1>
        </div>
    <% else %>
        <div>
          <h1>Verify Details</h1>
        </div>
    <% end %>

    <%= render 'employees/form' %>

    <%= link_to 'Back', root_path %>
  </div>
</div>
