<div style="margin: 0 auto; text-align: center">
  <%= image_tag('flatirons.jpg', size:'900x300') %>
</div>
<div class="container">
  <div class="row console-row">
    <h1 style="text-align: center">Our Story</h1>
    <hr>
    <div class="col-md-4 console-panel" style="margin: 0 auto; text-align: center">
      <%= image_tag('summit_photo.jpg', size:'360x202') %>
    </div>
    <div class="col-md-8 console-panel">
      <p>
        Lorem ipsum dolor sit amet, mea odio probo graeco te, vim adhuc partem invidunt ne, cu ius oratio consetetur
        vituperata. Cu utamur adipisci qualisque nec, erat apeirian eos ex, elitr animal blandit an eam. Quo erat
        scripserit disputando id, cu facer ridens luptatum quo. Vero volumus an cum, sed ei everti fuisset torquatos.
      </p>
      <p>
        In facete saperet sed, assum tincidunt id sit. Eu vel audire prompta periculis. In eros timeam usu. Perfecto
        legendos ne est. Pro ne periculis abhorreant, postulant definiebas vix an, per ex sint ornatus molestie. Ludus
        soleat ad vis, eos option adversarium id.
      </p>
      <p>
        Eruditi tacimates mel at, argumentum dissentiunt ne eam. Eam at consul percipit scriptorem, mucius imperdiet duo
        ei. Et illud viris tollit ius. Ei ferri illud mazim usu.
      </p>
      <p>
        Qui adhuc hendrerit mediocritatem ne. Vix philosophia interpretaris at, epicuri detraxit consectetuer vel id. Ex
        eos ullum mazim tollit, an eam quando alienum, ex sadipscing reformidans vel. No dicit epicurei oportere qui,
        veri legimus detraxit usu ea. Ex vim postea eruditi, sea case error quaerendum et. Dico appellantur vel eu, pri
        in quis altera expetenda, oblique probatus ut eam. Primis intellegam mel ex, cum wisi voluptaria reprehendunt
        te.
      </p>
    </div>
  </div>
  <div class="row console-row">
    <h1 style="text-align: center">Mission Statement</h1>
    <hr>
    <div class="col-md-8 console-panel">
      <p>
        Lorem ipsum dolor sit amet, mea odio probo graeco te, vim adhuc partem invidunt ne, cu ius oratio consetetur
        vituperata. Cu utamur adipisci qualisque nec, erat apeirian eos ex, elitr animal blandit an eam. Quo erat
        scripserit disputando id, cu facer ridens luptatum quo. Vero volumus an cum, sed ei everti fuisset torquatos.
      </p>
      <p>
        In facete saperet sed, assum tincidunt id sit. Eu vel audire prompta periculis. In eros timeam usu. Perfecto
        legendos ne est. Pro ne periculis abhorreant, postulant definiebas vix an, per ex sint ornatus molestie. Ludus
        soleat ad vis, eos option adversarium id.
      </p>
      <p>
        Eruditi tacimates mel at, argumentum dissentiunt ne eam. Eam at consul percipit scriptorem, mucius imperdiet duo
        ei. Et illud viris tollit ius. Ei ferri illud mazim usu.
      </p>
      <p>
        Qui adhuc hendrerit mediocritatem ne. Vix philosophia interpretaris at, epicuri detraxit consectetuer vel id. Ex
        eos ullum mazim tollit, an eam quando alienum, ex sadipscing reformidans vel. No dicit epicurei oportere qui,
        veri legimus detraxit usu ea. Ex vim postea eruditi, sea case error quaerendum et. Dico appellantur vel eu, pri
        in quis altera expetenda, oblique probatus ut eam. Primis intellegam mel ex, cum wisi voluptaria reprehendunt
        te.
      </p>
    </div>
    <div class="col-md-4 console-panel" style="margin: 0 auto; text-align: center">
      <%= image_tag('happy_worker.jpg', size:'360x202') %>
    </div>
  </div>
</div>