<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">


      <div class="calendar_image">
        <h1 class="title_text"><strong>Shift Scheduler</strong></h1>
        <br><br>

        <h2 class="transbox">
          <div class="title_text2">
            <em><strong>Schedule your shifts the easy way</strong></em>
          </div>
        </h2>
        <div id="transbox">
          <ul>
            <li>Optional drag-and-drop scheduling tools.</li>
            <li>Auto-email weekly schedules to each employee.</li>
            <li>Pro facer senserit te, cu maiorum delicata vis.</li>
            <li>At corpora laboramus per, quot sonet ius id.</li>
        </div>
      </div>

    </div>
    <div class="item">
      <%= image_tag 'calendar.jpg' %>
      <div class="carousel-caption">
        Something
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>




<!--class Employee-->
<!--has_many :roles-->
<!--end-->

<!--class Organization-->
<!--has_many :roles-->
<!--end-->

<!--class Role-->
<!--belongs_to :organization, :employee-->
<!--end-->

<!--class Ability-->
<!--if user.role?(:employee)-->
<!--can :show, :schedule-->
<!--end-->

<!--if user.role?(:admin)-->
<!--can :manage, :all-->
<!--end-->
<!--end-->
