<!DOCTYPE html>
<html>
<head>
  <title>Minimum Setup</title>
  <link rel="stylesheet" href="/assets/bootstrap.css">
  <link rel="stylesheet" href="/assets/calendar.css">
</head>
<body>
<div class="page-header">

  <div class="pull-right form-inline">
    <div class="btn-group">
      <button class="btn btn-primary" data-calendar-nav="prev">&lt;&lt; Prev</button>
      <button class="btn" data-calendar-nav="today">Today</button>
      <button class="btn btn-primary" data-calendar-nav="next">Next &gt;&gt;</button>
    </div>
    <div class="btn-group">
      <button class="btn btn-warning" data-calendar-view="year">Year</button>
      <button class="btn btn-warning active" data-calendar-view="month">Month</button>
      <button class="btn btn-warning" data-calendar-view="week">Week</button>
      <button class="btn btn-warning" data-calendar-view="day">Day</button>
    </div>
  </div>

  <h3><%= Time.now %></h3>
</div>
<div id="calendar"></div>

<script type="text/javascript" src="/assets/calendar.js"></script>
<script type="text/javascript">
  var calendar = $("#calendar").calendar(
      {
        tmpl_path: "/tmpls/",
        events_source: function () { return []; }
      });
</script>
</body>
</html>

